**/compile_commands.json
**/.cache/
**/.idea/
**/cmake-build-debug/
**/main/
**/bin/
**/obj/
**/target/
**/.vs
**/out
**.sln
**.cmake
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
liamc/*.liam
**/*.out
**/*.dSYM
liamc/Code
liamc/src/Makefile
**.DS_Store
**/dependencies/
**/target/
liamc/tests/out.cpp
liamc/out.cpp
**/build-debug/
*.exe
liamc/release
**/compile_flags.txt
**/build
