liamvm/src/target/
liamvm/target/
build/main.exe
build/main.obj
**/.idea/
**/cmake-build-debug/
**/main/
build/main.rs
build/out.rs
build/out
build/a.out
build/main
liamrs/target
liamrs/Cargo.lock
**/bin/
**/obj/
**/target/
**/.vs
**/out
**.sln
**.cmake
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.liam
liamc/Code
liamc/Makefile
**/CMakeLists.txt
liamc/src/Makefile
**.DS_Store
**/dependencies/
**/target/
liampm/liam.json
liamc/tests/out.cpp
liamc/out.cpp
vendor/
**/build-debug/
*.exe