**/.idea/
**/cmake-build-debug/
**/main/
**/bin/
**/obj/
**/target/
**/.vs
**/out
**.sln
**.cmake
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
liamc/main.liam
liamc/Code
liamc/src/Makefile
**.DS_Store
**/dependencies/
**/target/
liamc/tests/out.cpp
liamc/out.cpp
liamc/program/
**/build-debug/
*.exe
liamc/release
**/compile_flags.txt
